.jugador-card {
    max-width: 400px;
}
  
.jugador-header-image {
    background-image: url('https://tmssl.akamaized.net/images/foto/galerie/carlos-alcaraz-juventus-2023-24-1707150047-128578.jpg?lm=1707150075');
    background-size: cover;
}